<div class="wrap">
  <h2>Stats</h2>

  <h3>Contributions received by day</h3>
  <div
     id="chart_byday" data='{{ chart_byday|raw }}'
     style="width:700px; height:250px;"></div>

  <h3>Contributions received by theme</h3>
  <div
     id="chart_bytheme" data='{{ chart_bytheme|raw }}'
     style="width:700px; height:350px;"></div>

  <h3>Contributions received by theme and date</h3>
  <div
     id="chart_bythemedate" data='{{ chart_bythemedate|raw }}'
     style="width:700px; height:250px;"></div>

</div>
