<div class="wrap">
  <h2>
    Audiences
    <a href="{{ pageurl }}&subpage=new" class="add-new-h2">
      Add New
    </a>
  </h2>

  <table class="wp-list-table widefat fixed audiences"
         cellspacing="0">
    <thead>
      <tr>
        <th style="width:20px"><a href="{{ pageurl }}&sortby=id">ID</a></th>
        <th style="width:40px"><a href="{{ pageurl }}&sortby=visible">Visible</a></th>
        <th style="width:100px"><a href="{{ pageurl }}&sortby=date">Date</a></th>
        <th style="width:300px">Title</th>
        <th>Subject</th>
      </tr>
    </thead>

    <tbody id="audience-rows">
      {% for audience in listing %}
      <tr>
        <td>
          <strong>#{{ audience.id }}</strong>
        </td>
        <td>{% if audience.visible %}yes{% else %}no{% endif %}</td>
        <td>{{ audience.date }}</td>
        <td>
          <a href="{{ pageurl }}&subpage=edit&id={{ audience.id }}">
            <strong>{{ audience.title }}</strong>
          </a>
          <div class="row-actions">
            <span class="trash">
              <a href="javascript:;" onclick="return remove({{ audience.id }});">
                Remove
              </a>
            </span>
          </div>
        </td>
        <td>{{ audience.subject }}</td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th classs="manage-column sortable desc" scope="col">ID</th>
        <th classs="manage-column sortable desc" scope="col">Visible</th>
        <th classs="manage-column sortable desc" scope="col">Date</th>
        <th classs="manage-column desc" scope="col">Title</th>
        <th classs="manage-column desc" scope="col">Subject</th>
      </tr>
    </tfoot>
</div>
