<div class="wrap">
  <div class="stats">
    <strong>Total contributions:</strong> {{ total_contribs|number_format(0, ',', '.') }}
    <br>
    <strong>Total votes:</strong> {{ total_votes|number_format(0, ',', '.') }}
  </div>

  <h2>
    Themes
    <a href="javascript:jQuery('.wpgp-new-theme').show();"
       class="add-new-h2">Add New</a>
  </h2>

  <div class="metabox-holder wpgp-new-theme" style="display:none">
    <div class="wpgp-new-theme stuffbox">
      <h3>New Theme</h3>
      <form class="form-wrap">
        <div class="form-field">
          <label for="title">Title</label>
          <input type="text" name="title" width="50%">
        </div>

        <div style="margin-top:-10px; padding:0 0 10px 10px;">
          <input type="button" name="OK" class="button" value="OK">
          <input type="button" name="Cancel" class=" button" value="Cancel">
        </div>
      </form>
    </div>
  </div>

  <div id="poststuff" class="stuffbox">
    <h3>Search</h3>
    <div class="inside">
      <form id="fromto" action="{{ pageurl }}"
            onsubmit="window.location.href+='&from='+document.forms.fromto.from.value+'&to='+document.forms.fromto.to.value; return false">
        <label class="screen-reader-text" for="from">
          From:
        </label>
        <input class="date" type="text" id="from" name="from" placeholder="From">
        <label class="screen-reader-text" for="to">
          To:
        </label>
        <input class="date" type="text" id="to" name="to" placeholder="To">
        <input
           type="submit" name="" id="search-submit" class="button"
           value="Filter date">
        <input type="reset" class="button" value="Clear">
        <script>
          document.forms.fromto.from.value = '{{ from }}';
          document.forms.fromto.to.value = '{{ to }}';
        </script>
      </form>
    </div>

  </div>

  <table class="wp-list-table widefat audiences fixed"
         cellspacing="0">
    <thead>
      <tr>
        <th style="width:20px"></th>
        <th style="width:80px">Creation date</th>
        <th>Name</th>
        <th style="width:10%">Contrib count</th>
        <th style="width:50px">Scores</th>
        <th style="width:40px">Stats</th>
      </tr>
    </thead>
    <tbody id="contrib-rows">
      {% for theme in listing %}
      <tr>
        <td>[<a href=""
                class="delete-theme"
                id="{{theme.id}}">X</a>]</td>
        <td>{{theme.created_at|date("d/m/Y")}}</td>
        <td><a href="" name="{{theme.id}}"
               class="theme-name">{{theme.name}}</a></td>
        <td>{{theme.total_contributions}}</td>
        <td><a href="" name="{{theme.id}}"
               class="theme-scores">scores</a></td>
        <td><a href="" name="{{theme.id}}"
               class="theme-stats">stats</a></td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th classs="manage-column sortable desc" scope="col"></th>
        <th classs="manage-column sortable desc" scope="col">Name</th>
        <th classs="manage-column sortable desc" scope="col">Creation date</th>
        <th classs="manage-column sortable desc" scope="col">Contrib count<Theme/th>
        <th classs="manage-column sortable desc" scope="col">Scores</th>
        <th classs="manage-column sortable desc" scope="col">Stats</th>
      </tr>
    </tfoot>
  </table>
</div>
