{% macro row(contrib, theme, themes, klass, ctx) %}

<tr class="{{ exec("wpgp__govr_get_class", contrib) }} {{ klass }}" id="row-{{ contrib.id }}">

  <td class="contrib-id">
    <a class="delete-contrib" href="" name="{{contrib.id}}">X</a>
    {{ contrib.id }}
  </td>

  <td class="contrib-status"
      id="contrib-status[{{contrib.id}}]"
      name="{{contrib.id}}">
    <input type="hidden"
           name="contrib-status-val-{{contrib.id}}"
           value="{{contrib.status}}">
      <select name="{{contrib.id}}" class="wpgp-status">
        <option {% if contrib.status == 'pending' %}
                selected
                {% endif %}>pending</option>
        <option {% if contrib.status == 'blocked' %}
                selected
                {% endif %}>blocked</option>
        <option {% if contrib.status == 'approved' %}
                selected
                {% endif %}>approved</option>
        <option {% if contrib.status == 'responded' %}
                selected
                {% endif %}>responded</option>
      </select>
  </td>

  <td id="contrib-theme[{{contrib.id}}]"
      class="contrib-theme">
    <input type="hidden"
           id="contrib-theme-val-{{contrib.id}}"
           value="{{theme.name}}">
    <select
       class="wpgp-theme wpgp-the-theme[{{contrib.theme_id}}]"
       name="{{contrib.id}}" name="theme">
      {% for theme in themes %}
      <option
         name="{{theme.id}}"
         {% if contrib.theme_id == theme.id %} selected {% endif %}>
        {{theme.name}}
      </option>
     {% endfor %}
    </select>
  </td>

  <td id="contrib-title[{{contrib.id}}]"
      class="contribution-title"><p>{{ contrib.title }}</p></td>
  <td id="contrib[{{contrib.id}}]"
      class="contribution">
    <p>{{ contrib.content }}</p>

    <div class="smenu parent">
      <strong>Parent:</strong>
      {% if contrib.created_by_moderation == 0 %}
      <input
         type="text" id="contrib-duplicate[{{contrib.id}}]"
         class="contrib-duplicates contrib-duplicate[{{contrib.parent}}]"
         value="{{ contrib.parent }}">
      {% else %}
      #{{ contrib.parent }}
      {% endif %}
    </div>
    {% if contrib.parent == 0 %}
    <div class="smenu">
      <label>
        <strong>Part of:</strong>
        <input
           default="{{ exec("wpgp__govr_get_part_string", contrib) }}"
           type="text" id="contrib-part[{{ contrib.id }}]"
           class="contrib-parts contrib-part[{{ contrib.part }}]"
           value="{{ exec("wpgp__govr_get_parents_string", contrib) }}">
      </label>
    </div>

    {% if exec("wpgp_govr_contrib_has_duplicates", contrib) %}
    <div class="duplications">
      <strong>Duplications:</strong>
      <ul>
        {% for i in exec("wpgp_govr_contrib_get_duplicates", contrib) %}
        <li><a href="#">#{{ i.id }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% endif %}

    {% if exec("wpgp_govr_contrib_has_children", contrib) %}
    <div class="children">
      <strong>Children:</strong>
      <ul>
        {% for i in exec("wpgp_govr_contrib_get_children", contrib) %}
        <li><a href="#">#{{ i.id }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if contrib.status == 'approved' %}
    <div class="smenu answerlink">
      <a href="admin.php?page=gov-responde&subpage=answer&contrib_id={{ contrib.id }}">
        Answer this question
      </a>
    </div>
    {% endif %}

    {% if contrib.status == 'responded' %}
    <div class="smenu answerlink">
      <a href="admin.php?page=gov-responde&subpage=answer&contrib_id={{ contrib.id }}">
        Edit the answer
      </a>
    </div>
    {% endif %}
  </td>
  <td>
    <a href="{{ ctx.adminurl }}user-edit.php?user_id={{ contrib.user_id }}">
      {{ contrib.display_name }}
    </a>
  </td>
  <td>{{ contrib.created_at|date("d/m/Y") }}</td>
  <td>{{ contrib.score }}</td>

</tr>

{% endmacro %}
